.register-form {
  background: white;
  padding: 40px;
  margin: 40px auto;
  max-width: 600px;
}
.register-form h1 {
  text-align: center;
}
.register-form form > div {
  margin: 20px 5px;
}
.register-form form > div > label {
  font-weight: 700;
  min-width: 150px;
  padding: 6px 0;
}
.register-form form > div > div > input {
  font-size: 16px;
  padding: 5px 8px;
  border: 1px solid #ccc;
  width: 100%;
}
.register-form form > div > div > span {
  font-size: 12px;
  color: red;
}
.register-form form > div.buttons {
  float: right;
}
.register-form form > div.buttons > button {
  background: orange;
  color: white;
}
